.collection-type-index {
    #page {
        max-width: 100%;
        padding: 0;
    }
    .page-content {
        max-width: @pageWidth;
        margin: 0 auto;
        padding: (@sitePadding * 3) @sitePadding;
    }
    .promoted-gallery-wrapper .sqs-block {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.index-section.empty{
    .page-content{
        display: none;
    }
}

// TODO: allow fonts to be overriden by user? probably counter intuitive for this theme.

// copied custom
h1 {
    font-family: Raleway;
    font-size: 36px;
    line-height: 34px;
}

h3 {
    font-family: Roboto;
    font-size: 20px;
    line-height: 34px;
}

body {
  background-color: #fff;

  #siteWrapper, .header-inner { 
    margin: 0 auto;
  }

  #siteWrapper {
    max-width: 1200px;

    background-color: #f7f7f7;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }

  .header-inner {
    max-width: 1200px; 
  }
}

.sqs-block-content .sqs-block-spacer {
  font-size: 0;
}

// remove logo image when displaying nav as fixed to top of window (during page scroll)
.show-on-scroll-wrapper.show #header #logoWrapper {
    display: none;
}

#headerNav {
    z-index: 1100;
}

#sidecarNav {
    display: none;
}

.page-content {
    z-index: 1000; // must be high or editing in squarespace is impossible
}

.content-inner {
    position: relative;
}

.index-section {
    position: relative;
}

.black-bg-button() { // TODO: move mixins elsewhere
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 12px 32px;

    background:#000000;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius:2px;
}

.white-bg-button() {
    background-color: #fff;
    border:1px solid #3a3a3a;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius:2px;

    padding: 12px 20px;

    font-family:Roboto;
    font-weight:400;
    font-size:13px;
    color:#000000;
    text-align:center;
}

// control styles
[class*=sqs-col] .sqs-block.sqs-block-quote {
    padding-left: 0;
    padding-right: 0;
}

.sqs-block-quote {
  position: relative;
  padding: 0 0 25px 0;

  figure {
    padding-left: 0;
    padding-right: 0;

    &::before, &::after {
      display: inline-block;
      font-size: 64px;
      color: black;
      opacity: 1;
      font-family: "Times New Roman", serif;
    }

    &::before {
      margin-right: 15px;
      content: "\201c";
      vertical-align: top;
    }

    &::after {
      content: "\201d";
      vertical-align: bottom;
    }
  }

  blockquote {
    text-align: left;
    display: inline-block;
    width: 89%;
    font-weight: 400;

    > span {
      display: none !important;
    }
  }

  figcaption.source {
    font-family: Roboto;
    font-size: 12px;
    color: black;
    line-height: 1.1em;
    opacity: 1;
    padding-top: 0;

    position: absolute;
    right: 0;
    bottom: -16px;
  }
}

.sqs-block-button {
    &.sqs-block-button-element,&.sqs-block-button-element--medium {
        background:#000000;
        box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
        border-radius:2px;
        letter-spacing: 0.25px;
    }
}

#home {
    .page-content {
        h1, h3 {
            color: #ffffff;
        }

        position: absolute;
        top: 111px;
    }

    .sqs-block-button-element {
        .black-bg-button();
    }
}

/*Resource Row 1 */
#resource .sqs-layout .sqs-row:nth-child(2) {
    position: absolute;
    top: 134px;
    left: 468px;
    right: 0;
}

/*Resource Row 2 */
#resource .sqs-layout .sqs-row:nth-child(3) {
    position: absolute;
    top: 395px;
    left: 127px;
    right: 0;
}

/*Resource Row 3 */
#resource .sqs-layout .sqs-row:nth-child(4) {
    position: absolute;
    top: 557px;
    left: 631px;
    right: 0;
}

#resource .content-inner {
    height: 837px;

    .sqs-col-3 {
        width: auto;
        height: auto;

        .image-block-outer-wrapper {
            width: 200px;
            height: 200px;
        }
    }

    .sqs-block-button-element {
        .white-bg-button();
    }
}

.sqs-layout > .sqs-row {
  margin-left: 0px; 
  margin-right: 0px; 
}

/* Address Image */
#block-yui_3_17_2_2_1460424039260_45288 {
  position: absolute;
  right: 0px;
  top: -70px;
}

/* Resources, events, people */ 
/* Image */
#block-yui_3_17_2_2_1460419091558_50252, #block-yui_3_17_2_6_1460429358231_10821,
#block-yui_3_17_2_4_1460567398021_13322,
#block-yui_3_17_2_2_1460601739964_11419 {
  padding: 0;
  width: 205px;
  left: -25px;
}

/* resource h3 */
.sqs-block-content  {
  h3 {  
    margin-bottom: 0;
    padding-left: 23px;    
  }
  ul {   
    padding-left: 0; 
    li {
      padding-left: 25px;
      color: #4a4a4a;
    }
  }

}
/* resource list */
.collection-type-index .page-content {
  max-width: 1200px;
  padding: 0px;
}


#logoImage img {
  padding-top: 41px;
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 150%;
}

#thumbnail img{
  height: 402px;
}

.header-inner{
  padding: 0;
}

.transparent-header.view-list .banner-thumbnail-wrapper, .transparent-header.collection-type-page .banner-thumbnail-wrapper {
  padding: 0;
  height: 402px;
}

.desc-wrapper {
  padding-top: 101px;
  height: 402px;
}

#block-yui_3_17_2_2_1460419091558_50252 {
  padding:0
}


@media only screen and (min-width: 641px) {
  #mainNavigation {
    padding-top: 10px;
  }

  #header #headerNav {
    text-align: center;
    padding: 0;
    vertical-align: top;
  }
  .desc-wrapper p {
    padding-top: 20px;

    strong{
      padding: 0 55px;
    }
  }

  body:not(.collection-type-gallery).banner-button-style-outline .desc-wrapper p:last-child>a, body:not(.collection-type-gallery).banner-button-style-outline.has-promoted-gallery #promotedGalleryWrapper .sqs-gallery-block-slideshow .meta-description p:last-child>a, body:not(.collection-type-gallery).banner-button-style-outline.has-promoted-gallery .promoted-gallery-wrapper .sqs-gallery-block-slideshow .meta-description p:last-child>a {
    border: 0px solid #fff !important;
    color: #fff;
    background:#000000;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
    width:111px;

    height:42px;
  }
}
/*EVENT*/
#event {
    .banner-thumbnail-wrapper {
        height: 725px;
    }

    .page-content {
        position: absolute;
        top: 78px;
        left: 0;
        right: 0;

        h1, h3 {
            color: #ffffff;
        }
    }

    .sqs-block-button-element {
        .white-bg-button();
    }

    .col > * {
        position: relative;
    }

    .sqs-block-gallery {
        position: relative;
        top: -60px;
        border-radius: 15px;
        background-color: black;
        padding: 46px 0 24px;
        margin-right: 26px;
        margin-bottom: 0px;

        clear: none; // necessary if an element above has float, otherwise rows will no longer align
    }

    .sqs-block:not(.sqs-block-gallery) {
        // the z-index for elements that overlap w/ the gallery padding must be higher than
        // the z-index for the galler, otherwise they may not be shown
        z-index: 1001;
    }

    // another workaround: squarespace will set the top padding to 0 for the first element
    // of a row, except when the element is floating. in the event section, this means the
    // third column will have no padding-top, but the second column, which has a float
    // element at the top, will have a padding-top. this screws up the alignment of
    // the two columns. we fix it by setting the padding-top of first floating elements to
    // 0, as well as the element that immediately follows it
    .sqs-layout:not(.sqs-editing) .sqs-row .sqs-block.float:first-child {
        &, & + * {
            padding-top: 0;
        }
    }
}

#event .sqs-layout .sqs-row .sqs-col:not(:nth-child(1)) {
  position: relative;
  left: 40px
}

.sqs-gallery-design-strip-slide {
  float: left;
  max-width: none !important;
  width: auto !important;
  cursor: pointer;
  position: relative;
}

#block-yui_3_17_2_6_1460429358231_19440, #block-yui_3_17_2_2_1460500836987_42009 {
  border-radius: 15px;
  background-color: black;
  padding: 56px 0 24px;
  margin-right: 26px;
}

/*Coming Soon Block*/
#block-yui_3_17_2_2_1460500836987_27999 {
  max-height: 300px;
}

/**/
#block-yui_3_17_2_2_1460500836987_42009 {

  width: 208px;

}

#block-yui_3_17_2_2_1460499313478_50728, #block-yui_3_17_2_2_1460500836987_26763, #block-yui_3_17_2_2_1460500836987_26009, #block-yui_3_17_2_2_1460497275867_41789 {
  position: relative;
  left: 5px;
  h2{
    color: white;
  }
}

/*Event - innard position*/
/*END EVENT*/
/*PEOPLE*/
#people #block-yui_3_17_2_4_1460567398021_11888 {
  //outline: 5px solid green;

  img{
    margin-left: 0px;
  }

}



#people .sqs-col-8 [data-block-type='5']{
  width: 110.4%;

}


#people [data-content-field='main-content'] .col:nth-child(2) .row {
  color: white;
  position: relative;
  margin: 0px 50px;
  h3{   color: white;
  }
}
#people [data-content-field='main-content'] .col:nth-child(2) .col:nth-child(1) {
  position: relative;
  left: 60px;
}

#people .sqs-row .col.span-7 {
  position: relative;
  left: 93px;

}

#block-yui_3_17_2_4_1460567398021_11888{
  padding: 0;
  width: 110%;
}



/* COMMUNITY */
//  outline: 5px solid orangered;
