// MAIN NAVIGATION

#headerNav nav,
#sidecarNav nav {
  a,
  a:visited,
  label {
    .nav-font;
    line-height: 1em;
    color: @navColor;
    font-weight: 300;

    &:hover {
      color: @linkHoverColor;
    }
  }

  .active {
    > a,
    > a:visited,
    > label {
      color:@navActiveColor;
      font-weight: 700;

      &::before {
        content: "";
        width: .725em;
        height: .75em;
        border-radius: 100%;
        background-color:@navActiveColor;
        display: inline-block;
      }
    }
  }
  .subnav{
    background-color: fade(@headerBgColor, 100%);
  }

}



// TODO: when getting the template to work on mobile, uncomment this

//@media only screen and (min-width: 641px) {

  .show-on-scroll-wrapper #header {
    position: fixed !important;
    top: -20px;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: @headerBgColor;
    .translate3d(0);
    .transition3(opacity 0.14s ease-in-out; visibility 0s 0.14s linear; top 0.14s ease-in-out);
  }

  .show-on-scroll-wrapper.show #header {
    top: 0;
    visibility: visible;
    opacity: 1;
    .transition3(opacity 0.14s ease-in-out; visibility 0s 0s linear; top 0.14s ease-in-out)
  }

  body:not(.force-mobile-nav) {
    #headerNav {
      white-space: nowrap;
    }
    .nav-wrapper {
      position: relative;
      nav > div {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        a,
        label {
          .transition(color 0.1s 0s ease-in-out);
        }
        > a,
        label {
          display: block;
          padding: 0.75em 1em;
        }
        &:last-child {
          > a,
          label {
            padding-right: 0;
          }
        }
      }
      &#headerNav {
        text-align: right;
      }
    }
    #secondaryNavWrapper.nav-wrapper .folder .subnav {
      top: auto;
      bottom: 100%;
      .transform-origin(0, 100%);
    }
  }

  html:not(.touch-styles) body:not(.force-mobile-nav) .nav-wrapper {
    .folder .subnav {
      text-align: left;
      padding: 1em 0;
      display: inline-block;
      position: absolute;
      top: 100%;
      left: -0.5em;
      z-index: 1000;
      font-size: @nav-font-font-size;
      .border-box;
      white-space: nowrap;
      .scale(1, 0);
      .transform-origin(0, 0);
      -webkit-transition: -webkit-transform 0.14s 0s ease-in-out;
      -moz-transition: -moz-transform 0.14s 0s ease-in-out;
      -ms-transition: -ms-transform 0.14s 0s ease-in-out;
      -o-transition: -o-transform 0.14s 0s ease-in-out;
      transition: transform 0.14s 0s ease-in-out;
      > div {
        opacity: 0;
        padding: 0;
        .transition(opacity 0.05s 0.0s ease-in-out);
        a {
          display: block;
          padding: 0.5em 1.5em;
          -webkit-transform: translatez(0);
          -moz-transform: translatez(0);
          -ms-transform: translatez(0);
          -o-transform: translatez(0);
          transform: translatez(0);
        }
      }

      &.right {
        left: auto;
        right: -.5em;
      }
    }
    .folder:hover {
      .subnav {
        .scale(1, 1);
        > div {
          opacity: 1;
          .transition(opacity 0.14s 0.14s ease-in-out);
        }
      }
    }
  }
  // only right align last folder if not sidecar nav
  html:not(.touch-styles) body:not(.force-mobile-nav) #siteWrapper .nav-wrapper .folder:last-child .subnav {
    text-align: right;
    right: -1.5em;
    left: auto;
  }
// } (for @media above)

// folder indicator everywhere in mobile style nav
#sidecarNav .folder label:before {
  content: '+';
  padding-right: 0.25em;
  width: 0.75em;
  display: inline-block;
}

#sidecarNav .folder .folder-toggle-box:checked ~ label:before {
  content:'–'
}

// Folders on mobile
.touch-styles {
  .folder {
    position: relative;
  }
  .folder-toggle-label ~ .subnav {
    height: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 1.5em 0;
    font-size: @nav-font-font-size;
    text-align: left;
    > div {
      padding: 1em 0 0;
    }
  }
  .folder-toggle-box:checked ~ .subnav {
    height: auto;
    max-height: 999px;
    padding: 0 1em 1em;
  }
  #header .folder-toggle-label ~ .subnav {
    position: absolute;
    left: 0;
  }
  #header .folder:last-child .subnav {
    text-align: right;
    right: -1em;
    left: auto;
  }
}

// Folders on desktop in mobile nav
// TODO: when getting the template to work on mobile, uncomment this
/*
.force-mobile-nav #sidecarNav {
  .folder-toggle-label ~ .subnav {
    height: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 1.5em;
    font-size: @nav-font-font-size;
    > div {
      padding: 0.5em 0;
    }
  }
  .folder-toggle-box:checked ~ .subnav {
    height: auto;
    max-height: 999px;
    padding: 0 1em 1em;
  }
}

//overrides for secondary nav
.force-mobile-nav {
  #secondaryNavWrapper.nav-wrapper {
    position: relative;
    nav > div {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      > a,
      label {
        display: block;
        padding: 0.75em 1em;
      }
      &:first-child {
        > a,
        label {
          padding-left: 0;
        }
      }
    }
    // Folders on desktop
    .folder .subnav {
      display: inline-block;
      position: absolute;
      top: auto;
      bottom: 100%;
      left: -0.5em;
      z-index: 1000;
      .border-box;
      white-space: nowrap;
      .transform-origin(0, 100%);
      text-align: left;
      padding: 1em 0;
      .scale(1, 0);
      -webkit-transition: -webkit-transform 0.14s 0s ease-in-out;
      -moz-transition: -moz-transform 0.14s 0s ease-in-out;
      -ms-transition: -ms-transform 0.14s 0s ease-in-out;
      -o-transition: -o-transform 0.14s 0s ease-in-out;
      transition: transform 0.14s 0s ease-in-out;
      > div {
        opacity: 0;
        padding: 0;
        .transition(opacity 0.05s 0.0s ease-in-out);
        a {
          display: block;
          padding: 0.5em 1.5em;
          -webkit-transform: translatez(0);
          -moz-transform: translatez(0);
          -ms-transform: translatez(0);
          -o-transform: translatez(0);
          transform: translatez(0);
        }
      }
    }
    .folder:last-child .subnav {
      text-align: right;
      right: -0.5em;
      left: auto;
    }
    .folder:hover {
      .subnav {
        .scale(1, 1);
        > div {
          opacity: 1;
          .transition(opacity 0.14s 0.14s ease-in-out);
        }
      }
    }
  }
}
*/
.folder {
  position: relative;
}

.folder-toggle-label {
  cursor: pointer;
}


/* MOBILE NAV */

#mobileNavToggle:checked{
  ~ .body-overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:9999;
    cursor: e-resize;
    .transform(translatex(-260px) translatez(0));
  }
}

#sidecarNav {
  position: fixed;
  width: 260px;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  line-height: 1em;
  text-align: left;
  overflow: auto;
  visibility: hidden;
  background-color: fade(@headerBgColor, 100%);
  .font-smoothing(@headerBgColor);
  .border-box;
  .transition2(height 0s 0.14s linear, visibility 0s 0.14s linear);
  nav {
    padding: @mobilePadding*1.2 @mobilePadding*1.8 72px;
    div {
      .border-box;
      a,
      label {
        display: block;
        padding: 0.75em 0;
      }
      .subnav > div a {
        padding: 0 0 0.5em;
      }
      .subnav > div:last-child a {
        padding-bottom: 1em;
      }
    }
  }
}
// TODO: when getting the template to work on mobile, uncomment this
/*
.force-mobile-nav {

  #header #headerNav {
    display: none;
  }

   #sidecarNav .site-title {
    vertical-align: middle;
  }

  .mobile-nav-toggle-label {
    display: none;
    .border-box;
    z-index: 100;
    width: 10%;
    position: absolute;
    z-index: 1002;
    top: 50%;
    right: @headerVertPadding;
    margin-top: -8px;
    padding: 0;
    vertical-align: middle;
    line-height: 16px;
    text-align: right;
    cursor: pointer;
    user-select: none;
    color: @navColor;
    width: 22px;
    height: 22px;
    .top-bar,
    .middle-bar,
    .bottom-bar {
      width: 22px;
      height: 2px;
      background-color: fade(@navColor, 100%);
      -webkit-transition: -webkit-transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
         -moz-transition: -moz-transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
          -ms-transition: -ms-transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
           -o-transition: -o-transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
              transition: transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
      -webkit-transform-origin: 50% 50%;
         -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
           -o-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
    .middle-bar {
      .transition(opacity 0s 0.15s linear);
      top: 7px;
    }
    .bottom-bar {
      top: 14px;
    }
  }

  #mainNavWrapper {
    display: block;
    position: fixed;
    width: 260px;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    // left: 0;
    height: 100%;
    // opacity: 0;
    line-height: 1em;
    text-align: left;
    overflow: auto;
    background-color: fade(@headerBgColor, 100%);
    -webkit-overflow-scrolling: touch;
    .border-box;
    -webkit-transform: translate3d(260px, 0, 0);
       -moz-transform: translate3d(260px, 0, 0);
        -ms-transform: translate3d(260px, 0, 0);
         -o-transform: translate3d(260px, 0, 0);
            transform: translate3d(260px, 0, 0);
    -webkit-transition: -webkit-transform 0s 0s ease-in-out;
    -moz-transition: -moz-transform 0s 0s ease-in-out;
    -ms-transition: -ms-transform 0s 0s ease-in-out;
    -o-transition: -o-transform 0s 0s ease-in-out;
    transition: transform 0s 0s ease-in-out;
    nav {
      padding: @sitePadding @sitePadding*1.25;
      display: none;
      div {
        .border-box;
        a,
        label {
          display: block;
          padding: 0.75em 0;
        }
        .subnav > div a {
          padding: 0 0 0.5em;
        }
        .subnav > div:last-child a {
          padding-bottom: 1em;
        }
      }
    }
  }

  #siteWrapper {
    width: 100%;
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
         -moz-transition: -moz-transform 0.2s ease-in-out;
          -ms-transition: -ms-transform 0.2s ease-in-out;
           -o-transition: -o-transform 0.2s ease-in-out;
              transition: transform 0.2s ease-in-out;
  }

  #mobileNavToggle:checked {
    ~ #siteWrapper {
      position: fixed;
      -webkit-transform: translatex(-260px);
      -webkit-transform: translate3d(-260px,0,0);
         -moz-transform: translatex(-260px) translatez(0);
         -moz-transform: translate3d(-260px,0,0);
          -ms-transform: translatex(-260px) translatez(0);
          -ms-transform: translate3d(-260px,0,0);
           -o-transform: translatex(-260px) translatez(0);
           -o-transform: translate3d(-260px,0,0);
              transform: translatex(-260px) translatez(0);
              transform: translate3d(-260px,0,0);
      .mobile-nav-toggle-label {
        .top-bar,
        .bottom-bar {
          -webkit-transition: top 0.1s 0.1s ease-in-out, -webkit-transform 0.1s 0.2s ease-in-out;
             -moz-transition: top 0.1s 0.1s ease-in-out, -moz-transform 0.1s 0.2s ease-in-out;
              -ms-transition: top 0.1s 0.1s ease-in-out, -ms-transform 0.1s 0.2s ease-in-out;
               -o-transition: top 0.1s 0.1s ease-in-out, -o-transform 0.1s 0.2s ease-in-out;
                  transition: top 0.1s 0.1s ease-in-out, transform 0.1s 0.2s ease-in-out;
        }
        .top-bar {
          -webkit-transform: rotate(45deg);
             -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
               -o-transform: rotate(45deg);
                  transform: rotate(45deg);
          top: 7px;
        }
        .middle-bar {
          opacity: 0;
        }
        .bottom-bar {
          -webkit-transform: rotate(-45deg);
             -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
               -o-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          top: 7px;
        }
      }
    }

    ~ #sidecarNav {
      height: 100%;
      visibility: visible;
      .transition2(height 0s 0.14s linear, visibility 0s 0s linear);
    }
  }

  &.enable-nav-button #sidecarNav nav > div:not(.folder):last-child a {
    display: inline-block;
    margin: 1em 0 0 0;
    line-height: 1;
    padding: 1em 1.5em;
  }

  .folder-toggle-box:checked ~ .subnav {
    padding: 0.25em 0 0.5em;
  }
}

@media only screen and (min-width: 641px) {
  .sqs-style-mode.dialog-open.force-mobile-nav #mobileNavToggle:checked {
    ~ #siteWrapper {
      -webkit-transform: translate3d(-480px, 0, 0);
         -moz-transform: translate3d(-480px, 0, 0);
          -ms-transform: translate3d(-480px, 0, 0);
           -o-transform: translate3d(-480px, 0, 0);
              transform: translate3d(-480px, 0, 0);
    }
  }
}

.mobile-nav-toggle-label {
  display: none;
}
*/


// Mobile menu button

.enable-nav-button #headerNav,
.enable-nav-button #sidecarNav {
  nav > div:not(.folder):last-child a {
    .nav-button-font;
    margin-left:1em;
    padding: 1em 1.5em !important;
    display: block;
    background-color: @navButtonColor;
    .font-smoothing(@navButtonColor);
    color: @navButtonTextColor;
    .transition2(background-color 0.1s 0.0s ease-in-out, color 0.1s 0.0s ease-in-out);
    &:hover {
      background-color: fade(@navButtonColor, 80%);
    }
  }
}

.nav-button-style-outline.enable-nav-button #headerNav,
.nav-button-style-outline.enable-nav-button #sidecarNav {
  nav > div:not(.folder):last-child a {
    background-color: transparent;
    .font-smoothing(@headerBgColor);
    border: 2px solid @navButtonColor;
    color: @navButtonColor;
    &:hover {
      background-color: @navButtonColor;
      .nav-button-outline-hover-style-guarded-mixin(@navButtonColor);
    }

    /* ----- Guarded mixin to calculate what text color should be on hover ----- */
    .nav-button-outline-hover-style-guarded-mixin (@a) when (lightness(@a) >= 40%) { color: #181818; }
    .nav-button-outline-hover-style-guarded-mixin (@a) when (lightness(@a) < 60%) { color: #efefef; }
  }
}

.nav-button-style-raised.enable-nav-button #headerNav,
.nav-button-style-raised.enable-nav-button #sidecarNav {
  nav > div:not(.folder):last-child a {
    -webkit-box-shadow: 0px 0.2em 0px 0px darken(@navButtonColor,8%);
    -moz-box-shadow: 0px 0.2em 0px 0px darken(@navButtonColor,8%);
    box-shadow: 0px 0.2em 0px 0px darken(@navButtonColor,8%);
    &:hover {
      background-color: lighten(@navButtonColor,3%);
    }
  }
}

.nav-button-corner-style-rounded.enable-nav-button #headerNav,
.nav-button-corner-style-rounded.enable-nav-button #sidecarNav {
  nav > div:not(.folder):last-child a {
    -webkit-border-radius: 3px;
            border-radius: 3px;
  }
}

.nav-button-corner-style-pill.enable-nav-button #headerNav,
.nav-button-corner-style-pill.enable-nav-button #sidecarNav {
  nav > div:not(.folder):last-child a {
    -webkit-border-radius: 300px;
            border-radius: 300px;
  }
}

.back-to-top-nav { display: none; }

#secondaryNavWrapper {
  padding: 0 0 1.5em;
  z-index: 3;
  position: relative;
  line-height: 1.25em;
  right: auto;
  nav > div {
    &:first-child {
      > a,
      label {
        padding-left: 0;
      }
    }
  }
}

#siteInfo{
  .site-info-font;
  color:@siteInfoColor;
  a,
  a:visited{
    color:@siteInfoColor;
  }
}

.site-phone,
.site-email{
  white-space:nowrap;
}
.site-address + .site-phone,
.site-address + .site-email,
.site-phone + .site-email{
  margin-left:1em;
}

.center-navigation--info {
  #secondaryNavWrapper {
    text-align: center;
    left: auto;
  }
  #siteInfo {
    text-align: center;
  }
}

.hide-site-info {
  #siteInfo {
    display: none;
  }
}


#footerBlocks:not(.empty){
  margin-top:1.5em;
}


// FOLDER SIDEBAR NAV

.folder-nav-toggle-label,
.category-nav-toggle-label {
  display: none;
}
