@pageSideHeaderWidth: 230px;

body.collection-type-page {
    #header {
        background-color: transparent;
        padding: 0;
        width: @pageSideHeaderWidth;
        float: left;

        #logoWrapper {
            width: 100%;

            > #logoImage {
                margin: 0 auto;
            }
        }

        #headerNav {
            width: @pageSideHeaderWidth;
            text-align: left;

            nav {
                margin-left: 56px;

                a {
                    font-family: Roboto, sans-serif;
                    font-size: 18px;
                    color: #4a4a4a;
                    line-height: 24px;
                    font-weight: 400;
                    letter-spacing: .25px;

                    position:relative;

                    &:hover {
                        color: @linkHoverColor;
                    }
                }

                .active a {
                    .active-nav-dot(#000);

                    &::before {
                        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
                        width: 17px;
                        height: 17px;
                        position: absolute;
                        left: -25px;
                        top: 2px;
                    }

                    color: #000;
                    font-weight: 600;

                    &:hover {
                        color: @linkHoverColor;

                        &::before {
                            color: @linkHoverColor;
                            background-color: @linkHoverColor;
                        }
                    }
                }
            }
        }
    }

    #page {
        padding-left: 0;
        padding-right: 0;
        margin-left: @pageSideHeaderWidth;
    }
}
