body.collection-type-page {
    #header {
        background-color: transparent;
        padding: 0;
    }

    #logoWrapper {
        width: 230px;
    }

    #main {
        padding-left: 0;
        padding-right: 0;
        margin-left: 230px;
    }
}
